.title {
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.glow {
    text-shadow: 0 0 19px #b17b3d !important;
}